.mandelbrot-container {
    background-color: black;
}

.mandelbrot-container .mandelbrot-wrapper {
    overflow:hidden;
    overflow-y:hidden;
    height: 100vh;
}

.mandelbrot-container .mandelbrot-wrapper canvas {
    height: 100%;
    overflow-y:hidden;
}

.mandelbrot-container .mandelbrot-wrapper .invisible {
    display: none;
}